<mat-card class="filter-card">
  <div class="title">
    <span class="mat-h2 ">Tasks</span>
    <button mat-icon-button [ngClass]="{'button-spin': tasksLoading}"
            (click)="load()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>

  <mat-expansion-panel style="margin-top: 15px" #filterPanel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter
      </mat-panel-title>
      <mat-panel-description>
        Specify date, search terms or other parameters
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-label>Assigned person</mat-label>
      <input matInput [ngModel]="personName">
    </mat-form-field>

    <div class="button-container">
      <button type="button" mat-flat-button color="primary" (click)="applyFilter(filterPanel)">
        Apply
      </button>
    </div>
  </mat-expansion-panel>

  <mat-chip-list class="filter-entries">
    <mat-chip *ngFor="let entry of filter.getFilterList()" [removable]="entry.field != 'approverId'"
              (removed)="removeFilterEntry(entry)">
      {{displayEntry(entry)}}
      <mat-icon matChipRemove *ngIf="entry.field != 'approverId'">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>

</mat-card>

<div class="tasks-management-block">
  <section class="tasks-time-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3 class="mat-h3">Time blocks</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-nav-list class="tasks-categories-list">
          <a mat-list-item>
            <span class="mat-body">All</span>
          </a>
          <a mat-list-item>
            <span class="mat-body">Today</span>
          </a>
          <a mat-list-item>
            <span class="mat-body">Week</span>
          </a>
          <a mat-list-item>
            <span class="mat-body">Overdue</span>
          </a>
          <a mat-list-item>
            <span class="mat-body">No date</span>
          </a>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </section>
  <section class="tasks-list">
    tasks list
  </section>
  <section class="task-details">
    task details
  </section>
</div>
