<mat-card class="filter-card">
  <div class="title">
    <span class="mat-h2 ">Tasks</span>
    <button mat-icon-button [ngClass]="{'button-spin': tasksLoading}"
            (click)="load()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>

  <mat-expansion-panel style="margin-top: 15px" #filterPanel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter
      </mat-panel-title>
      <mat-panel-description>
        Specify date, search terms or other parameters
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-label>Assigned person</mat-label>
      <input matInput [ngModel]="personName">
    </mat-form-field>

    <div class="button-container">
      <button type="button" mat-flat-button color="primary" (click)="applyFilter(filterPanel)">
        Apply
      </button>
    </div>
  </mat-expansion-panel>

  <mat-chip-list class="filter-entries">
    <mat-chip *ngFor="let entry of filter.getFilterList()" [removable]="entry.field != 'approverId'"
              (removed)="removeFilterEntry(entry)">
      {{displayEntry(entry)}}
      <mat-icon matChipRemove *ngIf="entry.field != 'approverId'">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>

</mat-card>

<div class="tasks-management-block">
  <section class="tasks-time-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3 class="mat-h3">My tasks</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-nav-list class="tasks-categories-list">
          <a mat-list-item>
            <span class="mat-body">All</span>
          </a>
          <a mat-list-item>
            <span class="mat-body">Today</span>
          </a>
          <a mat-list-item>
            <span class="mat-body">Week</span>
          </a>
          <a mat-list-item>
            <span class="mat-body">Overdue</span>
          </a>
          <a mat-list-item>
            <span class="mat-body">No date</span>
          </a>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </section>
  <section class="tasks-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <button class="add-new-task-button" mat-button (click)="openCreateTaskModal()">
            <mat-icon>add_circle_outline</mat-icon>
            <span class="mat-body" style="margin-left: 2px;">Add task</span>
          </button>
          <button style="float: right;" mat-button [mat-menu-trigger-for]="viewModesMenu" #menuButton>
            <span class="view-options">
              <span>View by: {{selectedViewMode['text']}}</span>
              <mat-icon>expand_more</mat-icon>
            </span>
          </button>
          <mat-menu #viewModesMenu="matMenu">
            <span *ngFor="let viewMode of viewModes" mat-menu-item class="mat-body-strong menu-tab-item-text"
                  [innerText]="viewMode['text']" (click)="setViewMode(viewMode)"></span>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-divider inset="true"></mat-divider>
      <mat-card-content>
        <mat-nav-list class="tasks-categories-list">
          <div class="task-item" *ngFor="let task of tasks">
            <button mat-icon-button class="done-button">
              <mat-icon>done</mat-icon>
            </button>
            <span class="task-name mat-body" [innerText]="task.name"></span>
            <div class="assigned-persons-avatars-container">
              <img class="person-avatar" *ngIf="task.assignPerson"
                   [src]="task.assignPerson.photoUrl" [alt]="task.assignPerson.realName"
                   [title]="task.assignPerson.realName">
            </div>
          </div>
        </mat-nav-list>
        <section id="emptyLabel" *ngIf="noDataFound()">
          <p class="mat-body-1 empty-label">No tasks found</p>
        </section>
      </mat-card-content>
    </mat-card>
  </section>
</div>
