.thumbnail {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.portrait {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.user-info {
  display: flex;
  justify-content: center;
  width: fit-content;
  align-items: center;
}

.username {
  font-size: 12px;
  margin-right: 5px;
  font-weight: 700;
}

.menu-wrapper {
  display: flex;
  justify-content: space-around;
}

.menu-wrapper section {
  margin-right: 10px;
}

.menu-tab-item-text {
  margin-right: 15px;
}

.menu-tab-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-tab-item mat-icon {
  margin-right: 0;
}
