<mat-card class="default-card">
  <h2 class="mat-h2">Out of office requests</h2>
  <mat-divider></mat-divider>

  <form class="default-form ooo-form" [formGroup]="oooForm" (ngSubmit)="sendTimeRequest(oooForm)">
    <mat-form-field>
      <mat-label>Request type</mat-label>
      <mat-select [(value)]="timeRequest.type" formControlName="type">
        <mat-option value="TIME_SHIFT">Time shift</mat-option>
        <mat-option value="ILLNESS">Illness</mat-option>
        <mat-option value="BUSINESS_LEAVE">Business leave</mat-option>
        <mat-option value="UNPAID">Unpaid</mat-option>
        <mat-option value="VACATION">Vacation</mat-option>
      </mat-select>
      <mat-error *ngIf="hasError('type', 'required')">Request type is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             formControlName="dates"
             (dateChange)="setDatesToTimeRequest()"
             placeholder="Time period"
             [satDatepicker]="picker"
             [value]="dateRange">
      <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
      <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
    </mat-form-field>

    <mat-divider [inset]="true"></mat-divider>

    <mat-form-field *ngIf="reviewers">
      <mat-label>Select a reviewer</mat-label>
      <mat-select formControlName="reviewer" [(value)]="timeRequest.approverId" *ngFor="let reviewer of reviewers">
        <mat-option [value]="reviewer.id" [innerText]="reviewer.realName"></mat-option>
      </mat-select>
    </mat-form-field>

    <mat-divider [inset]="true"></mat-divider>

    <mat-form-field>
      <textarea class="description-form-field" formControlName="description" name="description"
                [(ngModel)]="timeRequest.description" matInput
                placeholder="A few words about the cause"></textarea>
    </mat-form-field>

    <div class="button-container">
      <button type="submit" class="login-button" mat-flat-button color="accent">
        Send
        <mat-icon>schedule</mat-icon>
      </button>
    </div>

  </form>

</mat-card>
