.form-container {
  width: 520px;
  margin: 20px auto;
  text-align: center;
}

.mat-title {
  margin-bottom: 0;
}

.mat-subheading-2 {
  color: #878787;
}

.next-button {
  float: right;
  margin-bottom: 20px;
}

.login-button {
  float: right;
  margin-bottom: 20px;
}

.back-button {
  float: right;
  margin-bottom: 20px;
  margin-right: 10px;
}

.mat-form-field {
  width: 100%;
  margin: 0 auto;
}

.thumbnail {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.portrait {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.user-info h5 {
  line-height: 20px;
  padding-left: 5px;
  margin: 0;
}

.user-info {
  display: flex;
  justify-content: center;
  width: fit-content;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #c0b8b8;
  border-radius: 15px;
}

.user-info-container {
  display: flex;
  justify-content: center;
}

.user-info-container > span {
  line-height: 30px;
  padding-right: 10px;
}
