.user-info-card {
  width: 80%;
  margin: 20px auto;
}

.profile-form {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}

.profile-form mat-form-field {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-form-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.profile-photo-container {
  flex-grow: 1;
}

.profile-photo-container img {
  max-width: 200px;
  min-height: 300px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.buttons-container button {
  margin-left: 5px;
}
