mat-form-field {
  margin-right: 10px;
}

.button-container button {
  margin-right: 10px;
}

.tab-header {
  margin-top: 30px;
  margin-bottom: 0;
}

.card-section {
  margin: 20px;
}

.request-card-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.request-card {
  flex: 1 0 29%; /* explanation below */
  margin: 5px;
  max-width: 29%;
}

.request-card-user-img {
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
}

.card-section mat-card-content {
  margin-top: 10px;
  min-height: 20px;
}

.card-section mat-card-actions button {
  margin-right: 10px;
}

.request-details {

}

.request-details-element {
  display: flex;
  justify-content: space-between;
}

.request-details-element-name {
  color: rgba(0, 0, 0, 0.54);
}

.approved, .declined {
  text-align: center;
  padding: 5px 20px;
  border-radius: 8px;
}

@mixin approve-requests-elements($theme) {
  $accent: map_get($theme, accent);
  $primary: map_get($theme, primary);
  $warn: map_get($theme, warn);

  .approved {
    background-color: mat-color($primary, lighter);
    color: mat-color($primary, lighter-contrast);
  }

  .declined {
    background-color: mat-color($warn, lighter);
    color: mat-color($warn, lighter-contrast);
  }

  .request-created-date {
    margin-left: auto;
    height: fit-content;
    border: 2px solid mat-color($primary, lighter);
    border-radius: 15px;
    padding: 0 10px;
    font-size: 8px;
    font-weight: 700;
    color: mat-color($primary, lighter)
  }

  .request-updated-date {
    margin-left: auto;
    height: fit-content;
    border: 2px solid mat-color($accent);
    border-radius: 15px;
    padding: 0 10px;
    font-size: 10px;
    font-weight: 700;
    color: mat-color($accent)

  }

}

.filter-entries {
  display: block;
  margin-top: 15px;
}

.empty-label {
  text-align: center;
  margin-top: 50px;
  color: rgba(0, 0, 0, 0.54);
}

.loading-spinner {
  margin: 0 auto;
  margin-top: 50px;
}
