<mat-card class="security-settings-card">
  <h2 class="mat-h2">Password settings</h2>
  <mat-divider></mat-divider>

  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Old password</ng-template>
        <mat-form-field>
          <input matInput placeholder="Old password" formControlName="oldPassword" required
                 [type]="hidePasswordOld ? 'password' : 'text'">
          <mat-icon matSuffix
                    (click)="hidePasswordOld = !hidePasswordOld">{{hidePasswordOld ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="firstFormGroup.controls['oldPassword'].errors">{{errorMessage}}</mat-error>
        </mat-form-field>
        <div class="buttons-container">
          <button mat-flat-button matStepperNext color="primary">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>New password</ng-template>
        <mat-form-field>
          <input matInput placeholder="New password" formControlName="newPassword" required
                 [type]="hidePasswordNew ? 'password' : 'text'">
          <mat-icon matSuffix
                    (click)="hidePasswordNew = !hidePasswordNew">{{hidePasswordNew ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <div class="buttons-container">
          <button mat-flat-button matStepperPrevious color="accent">Back</button>
          <button mat-flat-button matStepperNext color="primary">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Repeat new password</ng-template>
        <mat-form-field>
          <input matInput placeholder="Repeat new password" formControlName="repeatNewPassword" required
                 [type]="hidePasswordRepeat ? 'password' : 'text'">
          <mat-icon matSuffix
                    (click)="hidePasswordRepeat = !hidePasswordRepeat">{{hidePasswordRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <div class="buttons-container">
          <button mat-flat-button matStepperPrevious color="accent">Back</button>
          <button mat-flat-button matStepperNext color="primary">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="mat-body-2 message-danger">Are you sure you want to update your password?</div>
      <div class="buttons-container">
        <button mat-flat-button matStepperPrevious color="accent">Back</button>
        <button mat-flat-button (click)="updatePassword(stepper)" color="primary">Save</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
