.security-settings-card {
  margin: 20px;
}

@mixin danger-message-mixin($theme) {
  $warn: map-get($theme, warn);

  .message-danger {
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    background-color: mat-color($warn, lighter);
    width: fit-content;
  }
}

.buttons-container {
  display: flex;
  justify-content: flex-start;
}

.buttons-container button {
  margin-right: 5px;
}
