$light-palette-primary: (
  50 : #ffffff,
  100 : #e4e7f5,
  200 : #bcc2e5,
  300 : #8893d1,
  400 : #727fc9,
  500 : #5c6bc0,
  600 : #4757b7,
  700 : #3e4da1,
  800 : #36428b,
  900 : #2d3875,
  A100 : #ffffff,
  A200 : #bfc8f6,
  A400 : #7483db,
  A700 : #6978cc,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$light-palette-accent: (
  50 : #ffffff,
  100 : #fffef8,
  200 : #fff9c0,
  300 : #fff178,
  400 : #ffee5a,
  500 : #ffeb3b,
  600 : #ffe81c,
  700 : #fde300,
  800 : #dec700,
  900 : #c0ac00,
  A100 : #ffffff,
  A200 : #fffbd4,
  A400 : #fff06e,
  A700 : #ffee54,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$dark-palette-primary: (
  50 : #b2b8ef,
  100 : #737de2,
  200 : #4451d8,
  300 : #2431b1,
  400 : #1f2a97,
  500 : #1a237e,
  600 : #151c65,
  700 : #10154b,
  800 : #0a0e32,
  900 : #050719,
  A100 : #9aa3fd,
  A200 : #3648fb,
  A400 : #1422b7,
  A700 : #1a2598,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$dark-palette-accent: (
  50 : #ffffff,
  100 : #fef1dd,
  200 : #fddba6,
  300 : #fbc061,
  400 : #fab443,
  500 : #f9a825,
  600 : #f89c07,
  700 : #db8906,
  800 : #bd7705,
  900 : #9f6404,
  A100 : #ffffff,
  A200 : #ffe4b8,
  A400 : #ffbd52,
  A700 : #ffb339,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);





