// theming
@import "~@angular/material/theming";
@import "palettes";

@include mat-core();

$light-primary: mat-palette($light-palette-primary, 400, 200, 700);
$light-accent: mat-palette($light-palette-accent, 500, 300, 600);
$light-warn: mat-palette($mat-red);

$dark-primary: mat-palette($light-palette-primary, 800, 500, 900);
$dark-accent: mat-palette($light-palette-accent, 800, 500, 900);
$dark-warn: mat-palette($mat-red);

$app-light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
$app-dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($app-dark-theme);

@import "~src/app/sidenav-list/sidenav-list.component";
@import "~src/app/profile/security/password/password.component";
@import "~src/app/admin/admin-console/admin-console.component";
@import "~src/app/admin/approve-requests/approve-requests.component";
@import "~src/app/footer/footer.component";
@import "~src/app/home/home.component";
@import "~saturn-datepicker/theming";

@include sat-datepicker-theme($app-dark-theme);
@include sidenav-hover-colors($app-dark-theme);
@include danger-message-mixin($app-dark-theme);
@include admin-console-colors($app-dark-theme);
@include approve-requests-elements($app-dark-theme);
@include footer-mixin($app-dark-theme);
@include home-mixin($app-dark-theme);

// defaults

* {
  margin: 0;
}

.default-card {
  width: 80%;
  margin: 30px auto;
}

.default-form {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}

.default-form mat-form-field {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.filter-card {
  margin: 20px;
}

.thumbnail {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.portrait {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading-spinner {
  margin: 50px auto 0;
}

.filter-expansion-panel {
  margin-top: 15px;
}

.button-spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @-ms-keyframes spin {
    from {
      -ms-transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
    }
  }
  @-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
