// theming
@import "~@angular/material/theming";
@import "palettes";

@include mat-core();

$light-primary: mat-palette($light-palette-primary, 400, 200, 700);
$light-accent: mat-palette($light-palette-accent, 500, 300, 600);
$light-warn: mat-palette($mat-red);

$dark-primary: mat-palette($light-palette-primary, 800, 500, 900);
$dark-accent: mat-palette($light-palette-accent, 800, 500, 900);
$dark-warn: mat-palette($mat-red);

$app-light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
$app-dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($app-dark-theme);

@import "~src/app/sidenav-list/sidenav-list.component";
@import "~src/app/profile/security/password/password.component";
@import "~saturn-datepicker/theming";

@include sat-datepicker-theme($app-dark-theme);
@include sidenav-hover-colors($app-dark-theme);
@include danger-message-mixin($app-dark-theme);

// defaults

* {
  margin: 0;
}

.default-card {
  width: 80%;
  margin: 30px auto;
}

.default-form {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}

.default-form mat-form-field {
  margin-top: 10px;
  margin-bottom: 10px;
}
